body {
    background-color: #ffe6f2;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #d63384;
}

h2 {
    color: #c2185b;
    font-size: 28px;
    margin-top: 30px;
}

button {
    background-color: #ff80ab;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #ec407a;
}

input[type="text"], input[type="file"]{
    margin: 10px;
}

a {
    text-decoration: none;
    color: #c2185b;
    font-weight: bold;
}

a:hover {
    color: #ff4081;
}
